.navbar {
  background-color: #eb6d15;
}

.nav-link,
.navbar-brand {
  color: black !important;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #896aad !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f0a754 !important;
}

.features-flex {
  display: flex;
  justify-content: right;
  margin: 3em auto;
}

.features {
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.background {
  background-color: #e6a009;
  padding: 4em 0;

}

.contact {
  display: flex;
  justify-content: left;
  margin: 0px 1em;
}

.btn {
  border-color: black !important;
  color: black !important;
}

.btn button:hover {
  border: 1px solid black;
  background: #f5b282 !important;
  color: black;
}

.header {
  /*background-image: url("https://cdn.jsdelivr.net/gh/thatrandomperson5/jdjgbot-site@master/images/bg_bggenerator_com.jpg");*/
  background-image: url("/images/bg_bggenerator_com.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  /* min */
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(138, 96, 64, 0.39);
  bottom: 0;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -45%);
  text-align: center;
}

.description h1 {
  color: #292929;
}

.description p {
  color: #d1d1d1;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid black;
  background-color: #eb6d15;
  border-radius: 1;
  color: black;
}

.description button:hover {
  border: 1px solid black;
  background: #f5b282;
  color: black;
}
